.main {
  padding: 0 10vw;
}
.heading {
  font-size: 3em;
  font-weight: bold;
  padding-top: 0.5em;
  text-align: center;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 1em;
}
.plain-fab {
  box-shadow: none;
}
.large-fab {
  width: 7em;
  height: 7em;
  .mat-icon {
    font-size: 2em;
    font-weight: bold;
  }
}
.accept {
  background-color: lightgreen;
}
.undo {
  background-color: lightgrey;
}
a {
  color: white;
}
.full-width {
  width: 100%;
}
.option {
  margin-bottom: 1em;
}
