.container {
  padding: 0 10rem;
}

main {
  min-height: calc(100% - 126px);
}

footer {
  // height: 126px;
  width: 100%;
  position: fixed;
  left: 10rem;
  bottom: 0;
  padding: 1em 0;
}

.action-button {
  height: 7em;
  width: 7em;
  margin-right: 1em;
}

.action-icon {
  font-size: 2em;
  font-weight: bold;
}

a {
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 0.5em;
}

small {
  display: block;
  margin-bottom: 0.5em;
}

.google-like-search-bar {
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
