pre {
  white-space: pre-line;
  font-family: "Roboto Mono", sans-serif;
}
// .card {
//   padding: 1em;
//   margin-bottom: 0.5em;
//   border-radius: 1em;
// }
.highlight-button {
  color: yellow;
}
