// .pill {
//   background-color: transparent;
//   border: solid rgba(0, 0, 0, 0.54) 1px;
//   border-radius: 0.3em;
//   padding: 0.3em;
// }
.mat-card {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}
.pending-term {
  border-style: dashed;
  background-color: transparent;
}
