<mat-card [class]="term?.code ? '' : 'pending-term'" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-subtitle>
    <small class="pill">{{ terminology | uppercase }}</small>
  </mat-card-subtitle>
  <mat-card-title>{{ term?.name }}</mat-card-title>
  <mat-card-actions>
    <button mat-icon-button class="plain-fab" [color]="term?.name ? 'warn' : 'accent'" (click)="clickOutput.emit(term)">
      <mat-icon>{{ term?.name ? 'remove' : 'add' }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-chip-list selectable="true">
  <mat-chip (click)="selected = !selected" [selected]="selected">{{ terminology | uppercase }}</mat-chip>
</mat-chip-list>
