<h1>{{ currentTerm }}</h1>
<input type="search" id="input" (input)="filter('', $event)">
<button (click)="next()">Siguiente</button>
<div style="margin-top: 1em;">{{ filteredTerms.length }} resultados (mostrando los {{ limit }} primeros)</div>
<ol>
  <li *ngFor="let term of filteredTerms | slice:0:limit">
    <span style="background: white; padding: 0 1em">{{ term.name }}</span>
    <span style="background: lightblue; padding: 0 1em">{{ term.terminology }}</span>
    <span style="background: lightgray; padding: 0 1em">{{ term.code }}</span>
  </li>
</ol>
